## Based on All Events data categorising users into grades like A,B...

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [3]:
# LOad data from CSV file and selecting particular columns which are useful.
data=pd.read_csv('All_Events.csv',usecols=['distinct_id','properties.package_name','properties.package_variant_name',
                                                                        'properties.price','properties.$city', 'properties.id', 
'properties.$email','properties.products.0.name', 'properties.products.0.price']
  )

In [4]:
data.head()

,distinct_id,properties.$city,properties.id,properties.package_name,properties.package_variant_name,properties.price,properties.products.0.name,properties.products.0.price,properties.$email
0,ed360733-30cf-46ae-b57f-07c786221661,Mumbai,343,The Lounger - Basic,basic,1200,NaN,NaN,NaN
1,ed360733-30cf-46ae-b57f-07c786221661,Mumbai,129,Vive Twin Single-Seater - Basic,basic,999,NaN,NaN,NaN
2,e611802e-b965-4288-bd2e-b3ca42b85ed1,Mumbai,127,Vitello Study Room,basic,999,NaN,NaN,NaN
3,49365a22-25fe-43ce-86ed-c144b7384af9,Mumbai,411,Twin Wardrobe Combo,basic,1250,NaN,NaN,NaN
4,49365a22-25fe-43ce-86ed-c144b7384af9,Mumbai,411,Twin Wardrobe Combo,basic,1250,NaN,NaN,NaN

In [4]:
data.groupby(['properties.$city','properties.package_variant_name'])['properties.price'].mean()
# city wise different property mean price table

properties.$city  properties.package_variant_name
Alegaon           basic                              6599.000000
Alwar             basic                              1050.000000
Anand             basic                              1900.000000
Atlanta           value                              1350.000000
Aurangabad        value                              2650.000000
Baipura           basic                              4999.000000
Bengaluru         basic                              1619.991189
                  prime                              1568.136364
                  value                              1687.722222
Bhandup           value                              2999.000000
Bhiwani           value                              3500.000000
Bhopal            basic                              2250.000000
Bikaner           basic                              1900.000000
Blue Bell         basic                              1250.000000
Chennai           basic                              1499.000000
                  prime                              1250.000000
                  value                              1550.000000
Delhi             basic                              1718.388889
                  prime                              1858.166667
                  value                              1564.700000
Dharwad           basic                              1999.000000
Dubai             basic                              1962.250000
                  value                              1500.000000
Dungarpur         basic                              1250.000000
Ghaziabad         basic                              1316.666667
Gurgaon           basic                              1654.090909
                  value                              1400.000000
Hubli             basic                              2250.000000
Hyderabad         basic                              2899.333333
Jabalpur          basic                              1749.000000
                                                        ...
Kolkata           basic                              1414.400000
                  value                               999.000000
Lucknow           basic                              1200.000000
Lynchburg         value                               999.000000
Madipakkam        value                              1399.000000
Mira Road         basic                              2499.000000
Mohali            basic                              1200.000000
                  value                              1450.000000
Mumbai            basic                              1593.828571
                  prime                              1487.250000
                  value                              1811.230769
Najafgarh         basic                               650.000000
New Delhi         basic                              1832.944444
                  prime                              1075.000000
                  value                              1199.500000
Noida             basic                              1574.375000
                  value                              1599.000000
Patna             basic                              1350.000000
Phoenix           basic                              1200.000000
Pune              basic                              1879.409091
                  value                              1907.578947
Raipur            basic                              6599.000000
Rohtak            basic                              1050.000000
San Jose          basic                              1875.000000
Thane             basic                              1766.166667
                  value                              1932.333333
Udaipur           basic                               999.000000
Ulhasnagar        basic                              2000.000000
Varanasi          basic                              1149.333333
Visakhapatnam     basic                              1099.000000
Name: properties.price, dtype: float64

In [6]:

freq=pd.DataFrame(data.distinct_id.value_counts().values,columns=['count'])
freq['id']=data.distinct_id.value_counts().keys()

In [7]:
print(max(freq['count']))#highest frequency
print(min(freq['count']))#lowest frquency
print(freq['count'].mean())#frequency count
freq['Group']=''

25
1
1.6899383983572895

### Grouping the frequency count userwise and allocating grades ot them

In [10]:

freq['Group'][(freq['count'] > 20)]  = 'A'
freq['Group'][(freq['count'] > 15) & (freq['count'] <= 20)] = 'B'
freq['Group'][(freq['count'] > 10) & (freq['count'] <= 15)] = 'C'
freq['Group'][(freq['count'] > 5) & (freq['count'] <= 10)] = 'D'
freq['Group'][(freq['count'] <= 5)]  = 'E'

C:\Users\SIDDHARTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\SIDDHARTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\SIDDHARTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SIDDHARTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\SIDDHARTH\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Total number of clusters formed in each grades

In [11]:
freq.Group.value_counts()

E    469
D     13
C      3
A      1
B      1
Name: Group, dtype: int64

In [12]:
freq.head()

   count                                    id Group
0     25  c41f109e-106d-41ef-8657-cce9278949fa     A
1     19                                  6646     B
2     14  049fcdf0-04d0-45eb-869b-4f76753bbd54     C
3     13  9fb3a0e8-33b5-459f-91a9-bdbe3fc8e324     C
4     11                                  8594     C

In [10]:
#save to the csv file
freq.to_csv('customer_freq_grade.csv',index=False)